.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
    cursor: pointer;
    border-bottom-right-radius: 10px ;
  }
  .LocButton
  { 
    margin-left: 230px; 
    color: #2979FF !important;
    
    text-decoration: none;
    background: none;
    margin-top: -15%;
    margin-bottom: 2.5%;
    margin-right: 9%;
    display: inline-block;
    border: none;
    font-size: xx-large;
    
    cursor: pointer;
  }
.LocButton:hover, .LocButton:active, .LocButton:focus, .LocButton:enabled{
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  
}

  .hidden{
    display: none;
  }

  .modal-btn{
    width:80%;
    
    margin: auto;
    margin-top:1%;
    margin-bottom: 3%;
  }
  .modal-btn:last-child{
    margin-bottom: 9%;
  }